{% extends "layout.twig" %}

{% block content %}

<a name="top"></a>
<header>
    <div class="wrapper clearfix">
        


            <div class="companyheader clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "Pizza Vicenza"})|raw}}
            </div>

       <div class="desktop-nav">          
            <div class="navigation">                                                                    
                <ul>
                    <li><a href="/snacks"><span class=" menu-icon"></span><span class="text">Snacks</span></a></li>
                    <li><a href="/breakfast"><span class=" menu-icon"></span><span class="text">Breakfast</span></a></li>
                    <li><a href="/salads"><span class=" menu-icon"></span><span class="text">Salads</span></a></li>
                    <li><a href="/pasta"><span class=" menu-icon"></span><span class="text">Pasta</span></a></li>
                    <li><a href="/burgers"><span class=" menu-icon"></span><span class="text">Burgers</span></a></li>
                    <li><a href="/paninies"><span class=" menu-icon"></span><span class="text">Paninies</span></a></li>
                    <li><a href="/desserts"><span class=" menu-icon"></span><span class="text">Desserts</span></a></li>
                    <li><a href="/hot-drinks"><span class=" menu-icon"></span><span class="text">Hot Drinks</span></a></li>
                    <li><a href="/cold-drinks"><span class=" menu-icon"></span><span class="text">Cold Drinks</span></a></li>
                </ul>

                <a href="#" class="pull"></a>

            </div> <!--end navigation-->
        </div><!--end desktop-nav-->
       
    </div><!--end wrapper clearfix-->

</header>
        <div class="top-nav">  
            {{widget('extendednavigation', 'topnavigation', {})|raw}}
            </div> 

{% set menu = plugins.menu %}

    <div class="main wrapper clearfix">
        <div class="menu-header">
            <div class="menu-name-background"> <!-- Marta added this div to add background images to menu names -->
                <h1 class="menu-name">{{ menu.name }}</h1>
            </div>
            {% if menu.description is not null %}
                <p class="menu-description">{{ menu.description }}</p>
            {% endif %}

            {% if menu.availability %}
                <p class="menu-availability">{{ menu.availability }}</p>
            {% endif %}
        </div>

        {% if menu.items|length %}
            <ol class="menu-items">
                {% for item in menu.items %}
                <li class="menu-item{% if item.promoted %} menu-item-promoted{% endif %}">
                    <div class="inner-item"><!-- Marta added this div -->
                        <h3 class="menu-item-name">{{ item.name }}</h3>

                       <!--{% if item.imageURL is not null %}
                        <img class="menu-item-image" alt="" src="{{ item.imageURL }}">
                       {% endif %}-->

                        {% if item.prices|length %}
                            <ol class="menu-item-prices">
                                {% for price in item.prices %}
                                    <li class="menu-item-price">
                                        {% if price.name == '' %}
                                            <p class="standard-price">{{ price.price }}</p>
                                        {% else %}
                                            <p class="variant-price">{{ price.name }} {{ price.price }}</p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}

                        {% if item.description is not null %}
                            <p class="menu-item-description">{{ item.description }}</p>
                        {% endif %}

                        <!--{% if item.nutritionalProperties|length %}
                            <h4 class="menu-item-nutritional-title">Nutritional information</h4>
                            <ul class="menu-item-nutritional-props">
                                {% for prop in item.nutritionalProperties %}
                                    <li class="menu-item-nutritional-prop"><p>{{ prop }}</p></li>
                                {% endfor %}
                            </ul>
                        {% endif %}-->

                        {% if item.dietaryInfo|length %}
                            <div class="menu-section-item-dietary-props">
                                {% for key, value in item.dietaryInfo %}
                                    {% if value == 1 %}
                                        <span class="{{ key }}-icon dietary-icon"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div><!--end inner-item-->
                </li>
                {% endfor %}
            </ol>
        {% endif %}

        {% if menu.sections|length %}
            <ol class="menu-sections">
                {% for section in menu.sections %}
                <!-- BEGIN have two lis for styling as the data now just has one li -->
                    <li class="menu-section sub-section-promoted">
                        {% if section.parentRef is null %}
                            <div class="menu-section-header">
                                <div class="menu-section-background"><!-- Marta added this div to add background images to menu names -->
                                    <h2 class="menu-section-name">{{ section.name }}</h2>
                                </div>
                                {% if section.availability is not null %}
                                    <p class="menu-section-availability">{{ section.availability }}</p>
                                {% endif %}
                                {% if section.description is not null %}
                                    <p class="menu-section-description">{{ section.description }}</p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if section.sections|length %}
                            <ol class="menu-sub-sections">
                                {% include 'menu_subsection.twig' with {'sections': section.sections} %}
                            </ol>
                        {% endif %}

                        {% if section.items|length %}
                            <ol class="menu-section-items">
                                {% for item in section.items %}
                                    <li class="menu-section-item{% if item.promoted %} menu-item-promoted{% endif %}">
                                        <div class="inner-item">
                                        <h3 class="menu-section-item-name">{{ item.name }}</h3>
                                        {% if item.prices|length %}
                                            <ol class="menu-section-item-prices">
                                                {% for price in item.prices %}
                                                    <li class="menu-section-item-price">
                                                        {% if price.name == '' %}
                                                            <p class="standard-price">{{ price.price }}</p>
                                                        {% else %}
                                                            <p class="variant-price">{{ price.name }} {{ price.price }}</p>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}

                                        {% if item.imageURL is not null %}
                                            <img class="menu-section-item-image" alt="" src="{{ item.imageURL }}">
                                        {% endif %}

                                        {% if item.description is not null %}
                                            <p class="menu-section-item-description">{{ item.description }}</p>
                                        {% endif %}

                                        {% if item.nutritionalProperties|length %}
                                            <h4 class="menu-section-item-nutritional-title">Nutritional information</h4>
                                            <ul class="menu-section-item-nutritional-props">
                                                {% for prop in item.nutritionalProperties %}
                                                    <li class="menu-section-item-nutritional-prop"><p>{{ prop }}</p></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% if item.dietaryInfo|length %}
                                            <div class="menu-section-item-dietary-props">
                                                {% for key, value in item.dietaryInfo %}
                                                    {% if value == 1 %}
                                                        <span class="{{ key }}-icon dietary-icon"></span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div><!--end inner-item-->
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </li>
                <!-- END have two lis for styling as the data now just has one li -->
                    <li class="menu-section">
                        {% if section.parentRef is null %}
                            <div class="menu-section-header">
                                <div class="menu-section-background"><!-- Marta added this div to add background images to menu names -->
                                    <h2 class="menu-section-name">{{ section.name }}</h2>
                                </div>
                                {% if section.availability is not null %}
                                    <p class="menu-section-availability">{{ section.availability }}</p>
                                {% endif %}
                                {% if section.description is not null %}
                                    <p class="menu-section-description">{{ section.description }}</p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if section.sections|length %}
                            <ol class="menu-sub-sections">
                                {% include 'menu_subsection.twig' with {'sections': section.sections} %}
                            </ol>
                        {% endif %}

                        {% if section.items|length %}
                            <ol class="menu-section-items">
                                {% for item in section.items %}
                                    <li class="menu-section-item{% if item.promoted %} menu-item-promoted{% endif %}">
                                        <div class="inner-item">
                                        <h3 class="menu-section-item-name">{{ item.name }}</h3>
                                        {% if item.prices|length %}
                                            <ol class="menu-section-item-prices">
                                                {% for price in item.prices %}
                                                    <li class="menu-section-item-price">
                                                        {% if price.name == '' %}
                                                            <p class="standard-price">{{ price.price }}</p>
                                                        {% else %}
                                                            <p class="variant-price">{{ price.name }} {{ price.price }}</p>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}

                                        {% if item.imageURL is not null %}
                                            <img class="menu-section-item-image" alt="" src="{{ item.imageURL }}">
                                        {% endif %}

                                        {% if item.description is not null %}
                                            <p class="menu-section-item-description">{{ item.description }}</p>
                                        {% endif %}

                                        {% if item.nutritionalProperties|length %}
                                            <h4 class="menu-section-item-nutritional-title">Nutritional information</h4>
                                            <ul class="menu-section-item-nutritional-props">
                                                {% for prop in item.nutritionalProperties %}
                                                    <li class="menu-section-item-nutritional-prop"><p>{{ prop }}</p></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% if item.dietaryInfo|length %}
                                            <div class="menu-section-item-dietary-props">
                                                {% for key, value in item.dietaryInfo %}
                                                    {% if value == 1 %}
                                                        <span class="{{ key }}-icon dietary-icon"></span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div><!--end inner-item-->
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}

        {% if menu.note is not null %}

         <div class="back-to-top"><a href="#top">Back to top^</a></div><!-- Marta added this div -->

        <div class="menu-info"><!-- Marta added this div -->
            <p class="menu-note">{{ menu.note }}</p>
        {% endif %}
        {% if menu.dietaryInfoKeys|length %}
            {% for key in menu.dietaryInfoKeys %}
                {% if key == 'vegetarian' %}
                    <dl class="menu-dietary-key">
                        <dt class="vegetarian-icon dietary-icon"></dt>
                        <dd>Suitable for vegetarians</dd>
                    </dl>
                {% elseif key == 'glutenFree' %}
                    <dl class="menu-dietary-key">
                        <dt class="glutenFree-icon dietary-icon"></dt>
                        <dd>Gluten free</dd>
                    </dl>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>    
       
</div>




<footer>
    <div class="wrapper clearfix">

    
         {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
       
    </div>

<div class="back-to-top"><a href="#top">Back to top^</a></div>
    
</footer>

{% endblock %}
