{% extends "layout.twig" %}

{% block content %}

<div class="canvas">

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            {{widget('content', 'headercontent', {"content":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec eros non enim condimentum tristique. Fusce commodo lectus ac neque tristique auctor.</p>"})|raw}}
            {{widget('extendednavigation', 'tabletnavigation', {})|raw}}
        </div>
    </div><!--end wrapper clearfix-->
</header>

<div class="main wrapper clearfix">

{{widget('menusections', 'menusections1', {})|raw}}
{{widget('menu', 'menu1', {})|raw}}
</div>


<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('content', 'footercontent', {"content":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec eros non enim condimentum tristique. Fusce commodo lectus ac neque tristique auctor.</p>"})|raw}}
    </div>
</footer>

</div><!-- end canvas -->

{% endblock %}